
@{
    ViewData["Title"] = "GetById";
}

@model ProductViewModel



<h1>GetById</h1>
<a class="btn btn-primary mb-3" asp-controller="Product" asp-action="Index">Ürünler Sayfasına Git</a>

<div class="card">
  <div class="card-header">
    Ürün (@Model.Name)
  </div>
  <div class="card-body">
    <p class="card-text">
        <div>Açıklama: @Model.Description</div>
        <div>Fiyat: @Model.Price</div>
        <div>Stock: @Model.Stock</div>
        <div>Renk: @Model.Color</div>
        <div>Süre: @Model.Expire</div>
    </p>
  </div>
</div>